In [17]:
import pandas as pd
df = pd.read_csv("Python/pokemon.csv")
df.head(5)
df.tail(5)
df.columns
df[["Name", "Type 1"]][:4]
df.iloc[0:5,5:9]
dfRock = df[df["Type 1"] == 'Rock']
dfRock[dfRock["Speed"] > 20]

dfRock.iloc[15:20,2:4]

    Type 1   Type 2
323   Rock      NaN
369   Rock  Psychic
370   Rock  Psychic
377   Rock    Grass
378   Rock    Grass

In [38]:
# df.describe()
# df.info()
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64