In [32]:
#Set definition
print('''Sets are immutable, unordered sequences that allow us to extract unique objects.
A set will only contain unique objects and it will ignore redundant objects passed while creating a set''')
print('''\nA set can be created using {} similar to creating dictionaries. but unlike dictionaries, there is no key value pair.''')
a={1,2,14,0,1,1,2,14}
print('Here, we create a new set using a={1,2,14,0,1,1,2,14} and the resultant set is',a)
print('\nJust like tuples, list and dictionaries, a set can also be created from other iterables using the set() type.')
print('Here we have a string x="akshdaksdh" and we can create a set from it using y=set(x)')
x='akshdaksdh'
y=set(x)
print(x)
print(y)
print("To create an empty set, set() must be used. {} will create an empty dictionary. e.g. b=set() and result is:")
b=set()
print(b)
print("Sets do not have any mechanism of retrieving a single item from it. There is no index or key in sets.")
# c="The cat in the hat"
# c=set(c.lower().replace(' ',''))
# print(c)

Sets are immutable sequences that allow us to extract unique objects.
A set will only contain unique objects and it will ignore redundant objects passed while creating a set

A set can be created using {} similar to creating dictionaries. but unlike dictionaries, there is no key value pair.
Here, we create a new set using a={1,2,14,0,1,1,2,14} and the resultant set is {0, 1, 2, 14}

Just like tuples, list and dictionaries, a set can also be created from other iterables using the set() type.
Here we have a string x="akshdaksdh" and we can create a set from it using y=set(x)
akshdaksdh
{'h', 'd', 's', 'k', 'a'}
To create an empty set, set() must be used. {} will create an empty dictionary. e.g. b=set() and result is:
set()
Sets do not have any mechanism of retrieving a single item from it. There is no index or key in sets.

In [50]:
#Set operations
print("Sets allow membership-checking O(1) and iteration O(n). since, sets are unordered, order of iterating over a set is random")
x={'a','b','c','x'}
for i in x:
    print(i)
print("The set-arithmetic operations like union, intersection are also possible with sets")
y={'a','b','z','j'}
print("We have two sets", x," and ",y)
print("union of x and y can be achieved using x|y ",x|y," or using x.union(y)", x.union(y))
print("intersection of x and y can be achieved using x&y ",x&y," or using x.intersection(y)", x.intersection(y))
print("difference of x and y can be achieved using x-y ",x-y," or using x.difference(y)", x.difference(y))
print("symmetric difference, i.e., in x or y but not in both, can be achieved using x^y",x^y," or using x.symmetric_difference(y)",x.symmetric_difference(y))
print("Checking if x is a superset of y using x>=y", x>=y)
print("Checking if x and y are equivalent sets using x==y",x==y)

Sets allow membership-checking O(1) and iteration O(n). since, sets are unordered, order of iterating over a set is random
x
c
a
b
The set-arithmetic operations like union, intersection are also possible with sets
We have two sets {'x', 'c', 'a', 'b'}  and  {'a', 'z', 'j', 'b'}
union of x and y can be achieved using x|y  {'j', 'b', 'x', 'c', 'a', 'z'}  or using x.union(y) {'j', 'b', 'x', 'c', 'a', 'z'}
intersection of x and y can be achieved using x&y  {'a', 'b'}  or using x.intersection(y) {'a', 'b'}
difference of x and y can be achieved using x-y  {'x', 'c'}  or using x.difference(y) {'x', 'c'}
symmetric difference, i.e., in x or y but not in both, can be achieved using x^y {'j', 'x', 'c', 'z'}  or using x.symmetric_difference(y) {'j', 'x', 'c', 'z'}
Checking if x is a superset of y using x>=y False
Checking if x and y are equivalent sets using x==y False

In [65]:
#Sets are mutable
print("sets are mutable meaning their contents can be updated.")
x={1,1,2,2,4,'abc'}
print("Here we have a set x={1,1,2,2,4,'abc'}",x)

x.add("dog")
print("we can add a single element using x.add('dog')",x)

x.update("cat")
print("We can add multiple elements using an iterable like x.update('cat')",x)

x.update([1,1,24,'cat','ele'])
print(x)

x.remove(24)
print("we can remove an element using x.remove(24)",x)

sets are mutable meaning their contents can be updated.
Here we have a set x={1,1,2,2,4,'abc'} {1, 2, 4, 'abc'}
we can add a single element using x.add('dog') {1, 'dog', 2, 4, 'abc'}
We can add multiple elements using an iterable like x.update('cat') {1, 'dog', 2, 4, 'abc', 'c', 'a', 't'}
{1, 'dog', 2, 4, 'abc', 'c', 'a', 'ele', 't', 24, 'cat'}
we can remove an element using x.remove(24) {1, 'dog', 2, 4, 'abc', 'c', 'a', 'ele', 't', 'cat'}

In [9]:
#Dictionaries

#traversing through a dictionary
dictexample1={'Name1':'Ramesh','Name2':'Suresh'}
print(dictexample1['Name2'])
for x in dictexample1:
    print(x)
for y in dictexample1.keys():
    print(y)
for z in dictexample1.values():
    print(z)
for a in dictexample1.items():
    print(a)

Suresh
Name1
Name2
Name1
Name2
Ramesh
Suresh
('Name1', 'Ramesh')
('Name2', 'Suresh')

In [10]:
#adding a key-value pair in the dictionary
dictexample1['Name3']='Rahul'
print(dictexample1)

#updating a key-value pair
dictexample1['Name1']='Mahesh'
print(dictexample1)

#Using dict() to create a dictionary
dictexample2=dict(Name1='Rahul',Name2='Ramesh',Name3='Mahesh',Name4='Vijay')
print(dictexample2)

{'Name1': 'Ramesh', 'Name2': 'Suresh', 'Name3': 'Rahul'}
{'Name1': 'Mahesh', 'Name2': 'Suresh', 'Name3': 'Rahul'}
{'Name1': 'Rahul', 'Name2': 'Ramesh', 'Name3': 'Mahesh', 'Name4': 'Vijay'}

In [12]:
#Nested dictionary
dictexample3={"Name":{"Name1":"Rahul","Name2":"Suresh"},"age":{"age1":20,"age2":30}}
print(dictexample3)

#traversing in a nested dictionary
print(dictexample3["Name"]["Name1"])

print(dictexample3["Name"]["Name1"]," is aged ",dictexample3["age"]["age1"])

#adding an item in a nested dictionary
dictexample3["Name"]["Name3"]="Kunal"
dictexample3["age"]["age3"]=30
print(dictexample3)

#Updating an item in a nested dictionary
dictexample3["age"]["age2"]=35
print(dictexample3)

dictexample = dict(name=dict(first='John',second="raj"),age=dict(first=20,second=21))
dictexample['age'] = dict(third=30, fourth = 40)
dictexample['age']['first']=20
dictexample['name']['third']='Ramesh'
print(dictexample)

{'Name': {'Name1': 'Rahul', 'Name2': 'Suresh'}, 'age': {'age1': 20, 'age2': 30}}
Rahul
Rahul  is aged  20
{'Name': {'Name1': 'Rahul', 'Name2': 'Suresh', 'Name3': 'Kunal'}, 'age': {'age1': 20, 'age2': 30, 'age3': 30}}
{'Name': {'Name1': 'Rahul', 'Name2': 'Suresh', 'Name3': 'Kunal'}, 'age': {'age1': 20, 'age2': 35, 'age3': 30}}
{'name': {'first': 'John', 'second': 'raj', 'third': 'Ramesh'}, 'age': {'third': 30, 'fourth': 40, 'first': 20}}